html, body, #root {
  height: 100%;
  background-image: url('/texture-bg.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: transparent !important;
}
